{% extends 'base.html' %}
{% block content %}
  <h1>{{ object.name }} ({{ object.species }})</h1>

  <p>{{ object.description }}</p>
  <p>Growth Stage: {{ object.get_growth_stage_display }}</p>
  <p>Health: {{ object.health }}</p>
  <p>Planted on: {{ object.planting_date }}</p>
  <p>Last cared for: {{ object.last_cared_for }}</p>

  <h3>Accessories</h3>
  {% if object.accessories.all %}
    <ul>
      {% for accessory in object.accessories.all %}
        <li>{{ accessory.name }} ({{ accessory.get_type_display }})</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No accessories added yet.</p>
  {% endif %} 
  </br>
  </br>
  <a href="{% url 'careaction-add' object.id %}">+ Add Care Action</a>
  <a href="{% url 'careaction-list' object.id %}">View Care History</a>
  </br>
  </br>
  </br>
  </br>
  <a href="{% url 'plant-update' object.id %}">Edit</a> |
  <a href="{% url 'plant-delete' object.id %}">Delete</a> |
  <a href="{% url 'plant-list' %}">Back to My Plants</a>
{% endblock %}
