{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/leaf-icon.png' %}">

  <title>Verdant</title>


  {% block head %}{% endblock %}
</head>
<body id="page-container">
  <!-- Header / Navbar -->
  <header id="main-header" class="header-primary">
    <div class="header-content">
      <div class="logo-container" id="header-logo">
        <a href="{% url 'home' %}" class="logo-link">
          <img src="{% static 'images/logo2.png' %}" alt="Verdant Logo" class="logo-image">
        </a>
      </div>

      <nav id="main-navigation" class="nav-primary">
        <ul class="nav-menu">
          {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'plant-list' %}" class="nav-link">My Garden</a></li>
            <li class="nav-item"><a href="{% url 'accessory-list' %}" class="nav-link">Accessories</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
            <li class="nav-item">
              <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn-logout">Log out</button>
            </form>
            </li>
          {% else %}
          <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <!-- Main content -->
  <main id="main-content" class="main-container">
    <div class="content-container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <!-- Footer -->
  <footer id="page-footer" class="footer-primary">
    <p class="footer-text">&copy; 2025 Verdant. All rights reserved.</p>
  </footer>

</body>
</html>