{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/plants/plant-list.css' %}" />
{% endblock %}

{% block content %}
<section class="garden-container">
  <h1 class="garden-title"> {{ user.username|capfirst }}'s Garden</h1>
  <a href="{% url 'plant-create' %}" class="add-plant-btn">Add a new Plant</a>

  {% if plants %}
  
    <div class="garden-bed">
      {% for plant in plants %}

        <div class="plant-card">
          <a href="{% url 'plant-detail' plant.id %}" class="plant-name">
          <div class="plant-pot">
            <div class="plant-img-container">
              {% if plant.growth_stage == 'dead' %}
                <img src="{% static 'images/plants/dead.png' %}" alt="{{ plant.name }} - Dead" />
              {% elif plant.growth_stage == 'wilting' %}
                <img src="{% static 'images/plants/wilting.png' %}" alt="{{ plant.name }} - Wilting" />
              {% elif plant.growth_stage == 'weak' %}
                <img src="{% static 'images/plants/weak.png' %}" alt="{{ plant.name }} - Weak" />
              {% elif plant.growth_stage == 'unhealthy' %}
                <img src="{% static 'images/plants/unhealthy.png' %}" alt="{{ plant.name }} - Unhealthy" />
              {% elif plant.growth_stage == 'healthy' %}
                <img src="{% static 'images/plants/healthy.png' %}" alt="{{ plant.name }} - Healthy" />
              {% endif %}
            </div>
          </div>
          <div class="plant-info-box">
            {{ plant.name }} ({{ plant.species }})</a>
            <p class="plant-info">Status: {{ plant.growth_stage|capfirst }} | ❤️ {{ plant.health }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="no-plants-msg">Your garden is empty. Plant something new! 🌸</p>
  {% endif %}
</section>
{% endblock %}
