{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/accessories/accessory-list.css' %}">
{% endblock %}
{% block content %}


<section class="accessory-list">
  <h1 class="accessory-title">Accessories</h1>
  <a href="{% url 'accessory-create' %}" class="add-accessory-btn">Add Accessory</a>

  {% if accessories %}
    <div class="accessory-grid">
      {% for accessory in accessories %}
        <div class="accessory-card">
          <div class="accessory-card-content">
            <a href="{% url 'accessory-detail' accessory.id %}" class="accessory-name">
              {{ accessory.name }}
            
            <span class="accessory-type">{{ accessory.type }}</span>
            {% if accessory.description %}
              <p class="accessory-description">{{ accessory.description }}</p>
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="accessory-empty">
      <p>No accessories yet. Add one!</p>
      <a href="{% url 'accessory-create' %}" class="btn">Add Your First Accessory</a>
    </div>
  {% endif %}
</section>
{% endblock %}