body {
  font-family: "Poppins", sans-serif;
  color: #244d29;
}

.garden-container {
  text-align: center;
  padding: 2rem;
}

.garden-title {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #2f7d32;
  text-shadow: 1px 1px 5px rgba(100,150,100,0.2);
}
.no-plants-msg{
  padding-top: 50px;
}
.add-plant-btn {
  background: #4caf50;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
}
.add-plant-btn:hover {
  background: #2e7031;
}

.garden-bed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem;
  margin-top: 2rem;
}

.plant-card {
  background: #fdfdfd;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  position: relative;
}
.plant-card:hover {
  transform: scale(1.05);
}

.plant-pot {
  height: 140px;
}
.plant-img-container img {
  max-height: 110px;
}
.soil {
  background: #5d4037;
  width: 75%;
  height: 22px;
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}

.plant-info-box {
  margin-top: 0.5rem;
}
.plant-name {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  color: #33691e;
  text-decoration: none;
}
.plant-name:hover {
  color: #558b2f;
}
.plant-info {
  font-size: 0.9rem;
  color: #607d3b;
}
